<style>
.sidebar-wrapper {
  position: relative;
  height: 100%;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sidebar-footer .copyright {
  color: white;
}
</style>

<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text logo-mini">
              <img src="https://img.icons8.com/?size=512&id=97192&format=png" style="width: 24px; height: 24px;">
            </h4>
            </a>
            <a class="simple-text logo-normal">
                Movie Popcorns
            </a>
        </div>
        {% load i18n static admin_black %}
        <ul class="nav">
          <li class="{% if 'homepage' in segment %} active {% endif %}">
            <a href="/homepage">
              <i class="tim-icons icon-bank"></i>
              <p>Home</p>
            </a>
          </li>
        
          <li class="{% if 'genre' in segment %} active {% endif %}">
            <a href="/genre">
              <i class="tim-icons icon-video-66"></i>
              <p>Genres</p>
            </a>
          </li>
        
          <li class="{% if 'actors' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-shape-star"></i>
              <p>Actors</p>
            </a>
          </li>
          <li class="{% if 'profile' in segment %} active {% endif %}">
            <a href="/profile">
              <i class="tim-icons icon-single-02"></i>
              <p>Profile</p>
            </a>
          </li>
        </ul>
        <div class="sidebar-footer">
          <div class="container-fluid">
            <div class="copyright">
              <label>Movie Popcorns by Group 19</label>
            </div>
          </div>
        </div>
    </div>
</div>