<style>
    #card-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .card {
      width: calc((100% / 3) - 16px);
      border-radius: 3px;
      transition: all 200ms ease-in-out;
      display: flex;
    }
    
    .card:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .card-actions {
      margin: 8px;
      padding: 16px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    #loader {
      display: flex;
    }
    
    .skeleton-card {
      display: flex;
      height: 25vh;
      width: calc((100% / 3) - 16px);
      margin: 8px;
      border-radius: 3px;
      position: relative;
      background-color: #fa42db;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: black;
    }
    

    
    </style>
    
    {% extends 'layouts/base.html' %}
    {% load static %}
    {% block content %}
    <div class="content">
    
        <div id="card-container"></div>
    
        <div id="loader">
            <a class="skeleton-card" href="{% url 'genreSelect' 'Action' %}" name="Action">Action</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Romance' %}" name="Romance">Romance</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Adventure' %}" name="Adventure">Adventure</a>
        </div>
        <div id="loader">
            <a class="skeleton-card" href="{% url 'genreSelect' 'Sci-Fi' %}" name="Sci-Fi">Sci-Fi</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Fantasy' %}" name="Fantasy">Fantasy</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Comedy' %}" name="Comedy">Comedy</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Mystery' %}" name="Mystery">Mystery</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Family' %}" name="Family">Family</a>
        </div>
        <div id="loader">
            <a class="skeleton-card" href="{% url 'genreSelect' 'Film-Noir' %}" name="Film-Noir">Film-Noir</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Crime' %}" name="Crime">Crime</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Animation' %}" name="Animation">Animation</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Musical' %}" name="Musical">Musical</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Drama' %}" name="Drama">Drama</a>
        </div>
        <div id="loader">
            <a class="skeleton-card" href="{% url 'genreSelect' 'Thriller' %}" name="Thriller">Thriller</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Sport' %}" name="Sport">Sport</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Western' %}" name="Western">Western</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Horror' %}" name="Horror">Horror</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Biography' %}" name="Biography">Biography</a>
        </div>
        <div id="loader">
            <a class="skeleton-card" href="{% url 'genreSelect' 'War' %}" name="War">War</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'History' %}" name="History">History</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Music' %}" name="Music">Music</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Reality-TV' %}" name="Reality-TV">Reality-TV</a>
            <a class="skeleton-card" href="{% url 'genreSelect' 'Game-Show' %}" name="Game-Show">Game-Show</a>
        </div>
    </div>
    
    {% endblock content %}