{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<style>
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    content: url("{% static '/docs/popcorn2.png' %}");
    width: 24px;
    height: 24px;
}
.rate:not(:checked) > label:before {
    content: url("{% static '/docs/popcorn2.png' %}");
    width: 24px;
    height: 24px;
}
.rate > input:checked ~ label {
    content: url("{% static '/docs/popcorn1.png' %}");
    width: 24px;
    height: 24px;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    content: url("{% static '/docs/popcorn1.png' %}");
    width: 24px;
    height: 24px;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    content: url("{% static '/docs/popcorn1.png' %}");
    width: 24px;
    height: 24px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #344675;
    width: 350px;
    margin: 125px auto;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.popup-actions {
    margin-top: 20px;
}
</style>

<div id="top"></div>
<div class="content col-12">
    <div class="card card-chart" style="background-color: #27293d5e;">
        <div class="card-header">
            <div class="row">

                <div class="col-3 text-left">
                    <h5 class="card-category">{{ movieStats.titleID }} - 
                        {% for genre in movieStats.genres %}
                            <a href="{% url 'genreSelect' genreselection=genre %}">{{ genre }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h5>
                    <h2 class="card-title" style="margin-bottom: 4px;"><strong>{{ movieStats.name }}</strong></h2>
                    <h4 class="card-title" style="margin-bottom: 4px;"><strong>{{ movieStats.rating }}</strong><small class="card-title">/10</small></h4>                      
                    <h4 class="card-title" style="margin-bottom: 4px;"><strong>{{ movieStats.runtime }}</strong><small class="card-title"> mins</small></h4>
                    <h4 class="card-title" style="margin-bottom: 4px;"><strong>{{ movieStats.votes }}</strong><small class="card-title"> votes</small></h4>
                    <div style="height: 298px; width: 200px; overflow: hidden; border: 1px solid rgba(76, 50, 205, 0.304); padding: 1%">
                        <div style="height: 100%; overflow-y: scroll; scrollbar-color: transparent transparent;">
                            {% for cast in movieStats.casts %}
                            <a href="{% url 'castSelect' cast=cast %}">{{ cast }}</a>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-9 align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <img src="{{ movieStats.imageSrc }}" class="img-fluid" style="height: 100%; object-fit: contain;">
                        </div>
                        <div class="col-9">
                            <video src="{{ movieStats.videoSrc }}" controls autoplay muted style="height: 100%;">
                            </video>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div>
                        <div class="text-center">
                            <h4>{{ movieStats.description }}</h4>
                        </div>                   
                    </div>
                </div>
                
            </div>
        </div>
    </div>     

    <form action="{% url 'movie' movieStats.titleID %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-10">
                <textarea name="review" id="reviewBox" type="text" class="form-control" style="height: 90px;"></textarea>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="rate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group-append" id="reviewForm">
                        <input type="hidden" name="rating" id="ratingInput" value="">
                        <button name="reviewBtn" id="reviewBtn" class="btn btn-primary" type="submit">Update Review</button>
                        <button onclick="toggleReview()" id="watchedBtn" class="btn btn-primary" type="button">Watched</button>                                          
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <br>

    <form action="{% url 'movie' movieStats.titleID %}" method="post">
        {% csrf_token %}
        {% for reviews in movieReviews %}
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-body">
                    <div>
                        <h4>{{ reviews.reviewName }}</h4>

                        <div class="row">
                            <div class="col-10 d-flex align-items-center">
                                <h4>
                                    {% for _ in reviews.popcornCount %}
                                    <img src="{% static '/docs/popcorn1.png' %}" style="width: 24px; height: 24px;">
                                    {% endfor %}
                                    {% for _ in reviews.popcornCount2 %}
                                    <img src="{% static '/docs/popcorn2.png' %}" style="width: 24px; height: 24px;">
                                    {% endfor %}
                                </h4>
                            </div>
                            
                            {% if reviews.reviewName == username %}
                            <div class="col-2 d-flex justify-content-end">
                                <img id="open-popup-1" style="cursor: pointer;" width="48" height="48" src="https://img.icons8.com/color/48/trash--v1.png"/>        
                            </div>
                            {% endif %}
                        </div>  
                            
                        <h4>{{ reviews.reviewDate }}</h4>
                        <h4>{{ reviews.review }}</h4>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div id="confirm-delete-popup" class="popup">
            <div class="popup-content">
                <h3>Confirm Review Removal</h3>
                <p>Are you sure you want to remove your review?</p>
                <div class="popup-actions">
                    <button class="btn btn-primary" id="cancel-delete">Cancel</button>
                    <button class="btn btn-danger" id="deleteBtn" name="deleteBtn">Remove</button>
                </div>
            </div>
        </div>
    </form>

    <nav>
        <ul class="text-center justify-content-center pagination pagination-lg">
          <li class="page-item"><a class="page-link" onclick="scrollToTop()" style="cursor: pointer;">Back to top</a></li>
        </ul>
    </nav>
</div>

<!-- FUNCTION TO SCROLL BACK TO TOP SMOOTHLY -->

<script>
    function scrollToTop() {
        const scrollToTop = document.getElementById('top');
        scrollToTop.scrollIntoView({
            behavior: 'smooth'
        });
    }
</script>

<!-- FUNCTION TO SHOW DELETE REVIEW POPUP -->

<script>
    $(document).ready(function() {
        // Show confirmation box if clicked
        $("#open-popup-1").click(function() {
            $("#confirm-delete-popup").show();
        });

        // If user cancels request
        $("#cancel-delete").click(function() {
            $("#confirm-delete-popup").hide();
        });

        // If user confirms deletion
        $("#deleteBtn").click(function() {
            // Close the popup after the deletion is done
            $("#confirm-delete-popup").hide();
        });
    });
</script>

<!-- FUNCTION TO ENABLE/DISABLE WATCH BUTTON AND REVEIW TEXTBOX -->

<script>
    window.onload = function() {
        var reviewLabel = '{{ reviewForm.reviewLabel }}';
        var reviewBox = '{{ reviewForm.reviewBox }}';
        var reviewButton = '{{ reviewForm.reviewBtn }}';
        var watchedButton = '{{ reviewForm.watchedButton }}';

        const reviewBoxElement = document.getElementById("reviewBox");
        const reviewButtonElement = document.getElementById("reviewBtn");
        const watchedButtonElement = document.getElementById("watchedBtn");

        if (reviewBox == "true") {
            reviewBoxElement.disabled = false;
        }
        else {
            reviewBoxElement.disabled = true;
        }
        reviewBoxElement.placeholder = reviewLabel;
        reviewButtonElement.style.display = reviewButton;
        watchedButtonElement.style.display = watchedButton;
    };
</script>

<!-- FUNCTION TO DISPLAY NUMBER OF POPCORNS BASED ON REVIEW RATING -->

<script>
    const container = document.querySelector('.rate');

    for (let i = 10; i >= 1; i--) {
    const input = document.createElement('input');
    input.type = 'radio';
    input.id = `popcorn${i}`;
    input.name = 'rate';
    input.value = i;

    const label = document.createElement('label');
    label.htmlFor = `popcorn${i}`;
    label.title = 'text';
    label.textContent = `${i} popcorjs`;

    container.appendChild(input);
    container.appendChild(label);
    }

    const ratingInputs = document.querySelectorAll('.rate input[name="rate"]');
    const ratingInput = document.getElementById('ratingInput');

    ratingInputs.forEach(function (input) {
        input.addEventListener('change', function (event) {
            const selectedRating = event.target.value;
            ratingInput.value = selectedRating; // Update the hidden input field value
        });
    });
</script>

<!-- FUNCTION TO SHOOT CONFETTI WHEN USER PRESSES 'Watched' BUTTON-->

<script>
    const defaults = {
        spread: 360,
        ticks: 25,
        gravity: 0,
        decay: 0.94,
        startVelocity: 30,
        shapes: ["star"],
        colors: ["FFE400", "FFBD00", "E89400", "FFCA6C", "FDFFB8"],
    };

    function toggleReview() {
        const textArea = document.getElementById("reviewBox");
        const button = document.getElementById("watchedBtn");
        const form = document.getElementById("reviewForm");

        if (button.innerHTML === "Watched") {
            button.style.display = "none";
            const submitButton = document.createElement("button");
            submitButton.type = "submit";
            submitButton.className = "btn btn-primary";
            submitButton.name = "reviewBtn";
            submitButton.textContent = "Review";
            form.appendChild(submitButton);
            shoot();
        }
        if (textArea.disabled) {
            textArea.disabled = false;
            textArea.placeholder = "Write a review for this movie...";
            button.innerHTML = "Review";
        }
    }

    function shoot() {
        confetti({
            ...defaults,
            particleCount: 500,
            scalar: 1.2,
            shapes: ["star"],
        });

        confetti({
            ...defaults,
            particleCount: 10,
            scalar: 0.75,
            shapes: ["circle"],
        });
    }
</script>

{% endblock content %}