<div class="container">
    {% if messages %}
        {% for msg in messages %}
            {% if msg %}
                <div class="alert alert-{{ msg.tags }} alert-dismissible fade show">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group">
                {{ fm.label_tag }}
                {{ fm }}
                {% if fm.errors %}
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{ fm.errors|striptags }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>