{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="content col-12">
    <div class="card card-chart">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3 text-left">
                    <h5 class="card-category">{{ movieStats.titleID }}</h5>
                    <h2 class="card-title">Title: {{ movieStats.name }}</h2>
                    <h3 class="card-title">Runtime: {{ movieStats.runtime }} mins</h3>
                </div>
                <div class="col-sm-4 d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <img src="{{ movieStats.imageUrl }}" class="img-fluid" style="height: 100%; object-fit: contain;">
                        </div>
                        <div class="col-md-6">
                            <video src="{{ movieStats.videoUrl }}" controls autoplay muted style="height: 100%;">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="text-center">
                            <h4>{{ movieStats.description }}</h4>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>      
    <div class="input-group mb-3">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">Watched</button>
        </div>
    </div>
    {% for reviews in movieReviews %}
    <div class="col-lg-12">
        <div class="card card-chart"> <!--- style="max-height: 540px;" --->
            <div class="card-body">
                <div>
                    <h4>{{ reviews.reviewName }}</h4>
                    <h4>{{ reviews.reviewRating }}/10</h4>
                    <h4>{{ reviews.reviewDate }}</h4>
                    <h4>{{ reviews.review }}</h4>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<nav>
    <ul class="pagination justify-content-center pagination pagination-lg">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<!-- <script>
    $(document).ready(function() {
      // Run the script on page load
      loadVideo();

      function loadVideo() {
          
          // Send a GET request to the IMDb URL and retrieve the page content
          var url = "https://www.imdb.com/video/vi632472089/?playlistId=tt1745960&ref_=tt_pr_ov_vi";
          var headers = { 'User-Agent': 'Mozilla/5.0' };
        $.ajax({
            url: url,
            headers: headers,
            success: function(data) {
                // Parse the response HTML with jQuery
                var imdbPage = $(data);

                // Find the video element using jQuery selector
                var vidElement = imdbPage.find('video.jw-video.jw-reset');
                var vidSrc = vidElement.attr('src');

                // Print the video source
                console.log('Video source:', imdbPage);
            },
            error: function() {
                console.log('Failed to retrieve the IMDb page.');
            }
        });
        }
    });
</script> -->
{% endblock content %}